image: python:3.13-slim

stages:
  - build
  - test

build:
  stage: build
  script:
    - python -m py_compile *.py
    - python -m py_compile test/*.py

test:
  stage: test
  script: 
    - pip install requests
    - python test/test_validips.py
    - python test/test_integration.py
