image: eclipse-temurin:21-jdk
stages:
  - build
  - test

cache:
  paths:
    - .gradle/

build:
  stage: build
  script:
    - gradle build -x test
  artifacts:
    paths:
      - build/
test:
  stage: test
  script:
    - gradle test
