image: eclipse-temurin:21-jdk
stages:
  - build
  - test
  - run

build:
  stage: build
  script:
    - mkdir -p build
    - javac -d build *.java
  artifacts:
    paths:
      - build/
test:
  stage: test
  script:
    - java -cp build ClassifierTest
run:
  stage: run
  script:
    - java -cp build Server
